body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    overflow: hidden;
}

.discover-map-container
{
	width: 100%;
	height: 100%	;
	overflow:hidden;
}

.discover-map {
	width: 100%;
	height: 100%;
}

.has-navbar-top .app-body {
    padding-top: 31px !important;
}

.sidebar {
	background-color: lightgray;
}

.sidebar-top-content {
	height: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url('../img/avatar.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}