
<form role="form" ng-submit="submitAddPerformance(newPerformance)" class="ng-pristine ng-valid form">
  <div class="addperformance-map-container">
    <div addperformance-map id="map" class="addperformance-map" show-perf-modal="showPerfModal" data="mapData"></div>
  </div>

    <fieldset>
    <div class="form-group has-success has-feedback">
      <input type="text" ng-model="newPerformance.short_description" class="form-control ng-pristine ng-untouched ng-valid needsclick" placeholder="Krótki opis">
        <!-- <input type="file" > -->
        <div class="fileUpload btn btn-block btn-default">
            <!-- <span>Dodaj zdjęcie</span> -->
            <i class="fa fa-camera"></i>
            <input type="file" class="upload" accept="image/*" capture="camera" id="capture" ng-model="newPerformance.image" fileread="newPerformance.image"/>
        </div>
        <button class="btn btn-primary btn-block">
        Dodaj
      </button>
    </div>
  </fieldset>

  
</form>
