

<div class="scrollable">
<form role="form" ng-submit="submitCreateUser(newUser)" class="ng-pristine ng-valid ng-valid-email form form-start">
<div class="form-group has-success has-feedback">
  <div class="alert alert-warning" role="alert" ng-if="notValid" >Jak się nazywasz?</div>
  <input type="text" ng-model="newUser.name" class="form-control ng-pristine ng-untouched ng-valid needsclick" placeholder="Wpisz swoją nazwę">
</div>
  <div class="scrollable-content">
  	<input type="submit" name="sb" class="btn btn-block btn-md btn-primary" value="Jestem artystą">
  	<input name="sb" ng-click="humanSubmit(newUser)" class="btn btn-block btn-md btn-primary" value="Jestem zwyłkym człowiekiem">
  </div>
</form>

  
</div>
